@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>Список ролей</h2>
<table class="table table-bordered table-light table-striped table-hover">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                @if (@role.Name != "admin")
                {
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-outline-danger">
                            Удалить
                        </button>
                    </form>
                }
            </td>
        </tr>
    }
</table>
<a asp-action="Create"  class="btn btn-outline-info">Добавить роль</a>
<a asp-controller="Users" asp-action="Index"  class="btn btn-outline-info">Список пользователей</a>